CREATE DATABASE QLMonAn
 Use QLMonAn
CREATE TABLE MonAn(
	MaMonAn int  NOT NULL PRIMARY KEY,
	TenMonAn nvarchar(50) NOT NULL,
	DonViTinh nvarchar(50) NULL,
	DonGia int NULL,
	Nhom int NULL)

CREATE TABLE NhomMonAn(
	MaNhom int  NOT NULL PRIMARY KEY,
	TenNhom nvarchar(50) NOT NULL)
 
INSERT MonAn (MaMonAn, TenMonAn, DonViTinh, DonGia, Nhom) VALUES (1, N'Gỏi thập cẩm', N'Dĩa', 120000, 1)
INSERT MonAn (MaMonAn, TenMonAn, DonViTinh, DonGia, Nhom) VALUES (2, N'Gỏi sứa', N'Dĩa', 140000, 1)
INSERT MonAn (MaMonAn, TenMonAn, DonViTinh, DonGia, Nhom) VALUES (3, N'Gỏi tai heo', N'Dĩa', 110000, 1)

INSERT NhomMonAn (MaNhom, TenNhom) VALUES (1, N'Khai vị')
INSERT NhomMonAn (MaNhom, TenNhom) VALUES (2, N'Hải sản')
INSERT NhomMonAn (MaNhom, TenNhom) VALUES (3, N'Bia - Nước ngọt')

select MaMonAn, TenMonAn,DonViTinh,DonGia,Nhom
from MonAn, NhomMonAn
where MonAn.Nhom=NhomMonAn.MaNhom 
group by Nhom

SELECT MonAn.MaMonAn,MonAn.TenMonAn,DonViTinh,DonGia, NhomMonAn.TenNhom
FROM MonAn, NhomMonAn
WHERE MonAn.Nhom=NhomMonAn.MaNhom
ORDER BY MonAn.MaMonAn,MonAn.TenMonAn,DonViTinh,DonGia, NhomMonAn.TenNhom

select TenNhom
from NhomMonAn
where MaNhom = 2


CREATE PROCEDURE ThemMonAn 
    @MaMonAn int,
    @TenMonAn nvarchar(50),
    @DonViTinh nvarchar(50),
    @DonGia int,
    @Nhom int
AS
BEGIN
    INSERT INTO MonAn (MaMonAn, TenMonAn, DonViTinh, DonGia, Nhom)
    VALUES (@MaMonAn, @TenMonAn, @DonViTinh, @DonGia, @Nhom)
END

