CREATE DATABASE QLSinhVien1
USE QLSinhVien1

CREATE TABLE Lop(
    ID INT IDENTITY(1,1) PRIMARY KEY,
    TenLop NVARCHAR(20) NOT NULL
);
DROP  TABLE SinhVien

CREATE TABLE SinhVien(
	ID int NOT NULL PRIMARY KEY,
	HoTen nvarchar(100) NOT NULL,
	MaLop int NULL)


INSERT Lop (ID, TenLop) VALUES (1, N'CTK43')
INSERT Lop (ID, TenLop) VALUES (2, N'CTK44A')
INSERT Lop (ID, TenLop) VALUES (3, N'CTK44B')

INSERT SinhVien (ID, HoTen, MaLop) VALUES (1, N'Trần Văn Thái wewr', 1)
INSERT SinhVien (ID, HoTen, MaLop) VALUES (2, N'Mai Thành Thân', 2)
INSERT SinhVien (ID, HoTen, MaLop) VALUES (3, N'Phạm Thanh Thảo', 2)

CREATE PROC InsertStudent
	@Id int,
	@HoTen nvarchar(100),
	@MaLop int
AS
BEGIN
	INSERT INTO SinhVien
	VALUES (@Id, @HoTen, @MaLop)
END
SELECT SinhVien.*
FROM SinhVien
JOIN Lop ON SinhVien.MaLop = Lop.ID
WHERE SinhVien.HoTen LIKE '%Trung%' AND Lop.ID = '3';

CREATE PROC InsertLop
	@Id int
	@MaLop int
AS
BEGIN
	INSERT INTO Lop
	VALUES (@Id, @MaLop)
END